body {
    height: 3000px;
    background-color: grey;
}

.product-container {
   position: relative;
   display: inline-block;
}

.product-image {
    height: 300px;
    width:300px;
    object-fit: cover;
}

.promotion {
    position: absolute;
    background-color: black;
    color: white;
    right: 0px;
    top: 10px;
    font-family: arial;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}