p{
  font-family: arial;
  margin-top: 0;
  margin-bottom: 0;
}
.price{
  font-size: 35px;
}
.currency{
  color: rgb(68, 61, 61);
}
.present{
  color: rgb(7, 72, 7);
  margin-top: 8px;
}
.after{
  color: rgb(57, 54, 54);
  margin-top: 8px;
}
.later{
  color: brown;
}