p{
  font-family: arial;
}
.youtube-music{
  width: 350px;
  background-color: rgb(53, 52, 52);
  padding-left: 15px;
  padding-top: 1px;
  padding-bottom: 1px;
}
.title{
  color: white;
  font-style: bold;
  font-size: 20px;
}
.instruction{
  color: rgb(71, 70, 70);
}